<% include head.ejs %>
<div class="col-sm-7">
    <div class="text-center">
        <div class="well">
            <form class="form-horizontal " role="form" name="register" action="/player/register" method="post">
                <div class="form-group">
                    <label for="usernameInput" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailInput" class="col-sm-2 control-label"> Valid Email</label>

                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
<% include foot.ejs %>